html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug file
    body
        .container
            .header
                h1  Company's Name
            .main
                p   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus et, quam debitis impedit perspiciatis, magni rerum delectus fugiat hic aliquam adipisci facilis. Rem accusamus dignissimos et facere sapiente maiores optio.
            .footer
                small   copyright@2020
        